@tailwind base;
@tailwind components;
@tailwind utilities;

@import "themes/light.css";
@import "themes/dark.css";

/* Your base theme settings */
@layer base {
  html {
    --color-primary: #87b1d6;
    --color-secondary: #eef7ff;
    --color-ternary: #eef7ff;
    --color-buttons: #87b1d6;
    --color-typography: #000;
    --color-shadow: #a9cae7;
    --color-header: #87b1d6;
    --color-selected: #a9cae7;
    --color-separator: #3c3c3c;
  }
}

body {
  background-color: var(--color-primary);
  color: var(--color-typography);
  font-family: "roboto", serif;
}

.EAyyHe {
  transition: opacity 0.2s ease-in-out;
  background-color: var();
  bottom: 0;
  height: 33%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
}
.cameraIcon {
  background-image: url(https://www.gstatic.com/images/icons/material/system/2x/photo_camera_white_24dp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 100%;
  opacity: 0.8;
}
