html[data-theme="dark"] {
  --color-primary: #000;
  --color-secondary: #222831;
  --color-ternary: #343d46;
  --color-buttons: #222837;
  --color-typography: #ffffff;
  --color-shadow: #222837;
  --color-header: #222837;
  --color-selected: #222837;
  --color-separator: #525151;
  --color-background: #3c3c3c;
}

input {
  background: white !important;
  color: #0f1111;
}
