html[data-theme="dark"] {
  --color-primary: #040d12;
  --color-secondary: #222831;
  --color-ternary: #222831;
  --color-buttons: #040d12;
  --color-typography: #ffffff;
  --color-shadow: #0c0c0c;
  --color-header: #040d12;
  --color-selected: #000000;
  --color-separator: #525151;
}

input {
  background: white !important;
  color: #0f1111;
}
