@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/themes/dark.css";
@import "./styles/themes/light.css";

/* Your base theme settings */
@layer base {
  html {
    --color-primary: #ffffff;
    --color-secondary: #fafafa;
    --color-ternary: #eef7ff;
    --color-buttons: #87b1d6;
    --color-typography: #000;
    --color-shadow: #87b1d6;
    --color-header: #87b1d6;
    --color-selected: #87b1d6;
    --color-separator: #3c3c3c;
  }
}

body {
  background-color: var(--color-primary);
  color: var(--color-typography);
  font-family: "roboto", serif;
}
